@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");
.App {
  font-family: "Nunito", sans-serif;
}
body {
  padding: 0 !important;
  margin: 0 !important;
  /* background-color: #474b4f !important; */
  scroll-behavior: smooth;
}
