.main {
  background-color: rgba(0, 0, 0, 0.25);
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: rgba(255, 255, 255, 0.4);
  font-family: monospace;
  font-weight: bold;
  font-size: 23px;
}

.em {
  width: 76%;
  color: rgb(21, 21, 25);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(206, 159, 238, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 40px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

form.form1 {
  padding-top: 40px;
}

.pa {
  width: 76%;
  color: rgb(3, 3, 27);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(238, 159, 159, 0.04);
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  margin-bottom: 27px;
  font-family: "Ubuntu", sans-serif;
}

.un:focus,
.pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;
}

.submit {
  cursor: pointer;
  border-radius: 5em;
  color: rgba(0, 0, 0, 0.78);

  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-left: 35%;
  font-size: 12px;
  font-family: monospace;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {
  .main {
    border-radius: 0px;
  }
}
