.searchInputs {
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
}

.search input {
  background-color: white;
  border: 0;
  border-radius: 5px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 250px;
}

.searchIcon {
  height: 30px;
  width: auto;
  cursor: pointer;
  background-color: white;
  display: grid;
  place-items: center;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  font-size: 20px;
  margin-right: 10px;
}

.dataResult {
  margin-top: 5px;
  margin-left: 10px;
  width: 281px;
  height: 200px;
  position: absolute;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 5px;
  z-index: 999;
  transition: height 0.3s ease-in-out;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  text-decoration: none;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
  margin: 0.5rem 3px;
}

.dataItem:hover, .dataItem:focus {
  color: red;
  transition: color 0.3s;
}

#clearBtn {
  cursor: pointer;
}
.searchSpinner{
  margin: 10% 45%;
}
.dataResult .result-message{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 20% 10%;
  color: red;
}