.user-about {
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.3);
}
.user-reviews {
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  box-shadow: 12px 12px 20px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(0, 0, 0, 0.3);
}

.user-review {
  border-bottom: 1px solid white;
  margin-bottom: 30px;
}
.user-review a {
  text-decoration: none;
  color: yellow;
}
.user-review a:hover {
  color: yellow;
}

.bottom {
  position: relative;
  bottom: 0px;
  text-align: center;
}
